html {
	background-color: black;
}

/* body {
	display: flexbox;
	justify-content: center;
} */

#top-div {
	color: white;
	/* height: 50px; */
	display: flex;
	justify-content: center;
	/* margin: 20px; */
}

h3 {
	display: inline;
	/* justify-content: center; */
	margin: 20px;
}

#score {
	display: inline;
	justify-content: center;
	margin: 20px;
}

#start-btn {
	border-radius: 7px;
	height: 30px;

	align-self: center;
}

#game-over {
	color: red;

	font-weight: bold;
	font-size: 3em;

	text-align: center;
}

.grid {
	height: 400px;
	width: 200px;
	background-color: white;

	margin: auto;
	margin-top: 20px;

	display: flex;
	flex-wrap: wrap;
}

.paused {
	border: 1px solid red;
}

.grid div {
	height: 20px;
	width: 20px;

	border: 1px solid black;
	box-sizing: border-box;
}

/* .shape {

}

.set-shape {

} */

.red {
	background-color: red;
}
.blue {
	background-color: blue;
}
.green {
	background-color: green;
}
.yellow {
	background-color: yellow;
}
.orange {
	background-color: orange;
}
.brown {
	background-color: brown;
}
.purple {
	background-color: purple;
}
